/* 
    Document   : fb.css
    Created on : 1/04/2015, 10:55:05 AM
    Author     : HP
    Description:
        Purpose of the stylesheet follows.
*/

.divpropio { 
    width:1px; 
    height:20px; 
    background-color:#000066; 
    margin-top: 15px;
}
#portada{
    margin-top: -5%;
}
#foto_perfil{
    margin-top: -80%;
    margin-left: 30%;
    border: 4px solid #ffffff;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
#barra_portada{
    margin-top: -3%;
    position:relative;
    z-index: 1;
}